{"openapi":"3.1.0","info":{"title":"IWM Backend API","description":"Documentation for the modular monolith hexagonal backend APIs.","version":"0.1.0-SNAPSHOT"},"servers":[{"url":"https://kernel-core.yowyob.com","description":"Generated server url"}],"security":[{"ClientId":[],"ApiKey":[]},{"ClientId":[],"ApiKey":[],"BearerAuth":[]}],"tags":[{"name":"Tier Portal","description":"Espace libre-service des Tiers – accessible uniquement avec un token ROLE_TIER_*"},{"name":"Tier Documents","description":"Gestion des documents justificatifs liés aux tiers (registre commerce, statuts, etc.)"},{"name":"Tier Bulk Export","description":"Export CSV des tiers (compatible avec le modèle d'import)."},{"name":"CRM Actions","description":"Planification et suivi des actions commerciales (relances, RDV, devis, réclamations…)"},{"name":"Tier Bulk Import","description":"Import en masse de tiers depuis un fichier CSV ou Excel (.xlsx)."}],"paths":{"/oauth2/userinfo":{"get":{"tags":["auth-oidc-controller"],"operationId":"userInfo","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"tags":["auth-oidc-controller"],"operationId":"userInfo_1","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/v1/facturation/bon-receptions/{id}":{"get":{"tags":["billing-legacy-documents-controller"],"operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"put":{"tags":["billing-legacy-documents-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommercialDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"delete":{"tags":["billing-legacy-documents-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/facturation/note-credits/{id}":{"get":{"tags":["billing-legacy-documents-controller"],"operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"put":{"tags":["billing-legacy-documents-controller"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommercialDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"delete":{"tags":["billing-legacy-documents-controller"],"operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/facture-fournisseurs/{id}":{"get":{"tags":["billing-legacy-documents-controller"],"operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"put":{"tags":["billing-legacy-documents-controller"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommercialDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/factures-proforma/{id}":{"get":{"tags":["billing-legacy-documents-controller"],"operationId":"get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"put":{"tags":["billing-legacy-documents-controller"],"operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommercialDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"delete":{"tags":["billing-legacy-documents-controller"],"operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/bons-livraison/{id}":{"get":{"tags":["billing-legacy-documents-controller"],"operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"put":{"tags":["billing-legacy-documents-controller"],"operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommercialDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"delete":{"tags":["billing-legacy-documents-controller"],"operationId":"delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/bon-commande/{id}":{"get":{"tags":["billing-legacy-documents-controller"],"operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"put":{"tags":["billing-legacy-documents-controller"],"operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommercialDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/bons-achat/{id}":{"get":{"tags":["billing-legacy-documents-controller"],"operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"put":{"tags":["billing-legacy-documents-controller"],"operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommercialDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}},"delete":{"tags":["billing-legacy-documents-controller"],"operationId":"delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/users/cashiers/{cashierId}":{"put":{"tags":["cashier-operations-controller"],"operationId":"updateCashier","parameters":[{"name":"cashierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCashierProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashierProfileView"}}}}}},"delete":{"tags":["cashier-operations-controller"],"operationId":"deleteCashier","parameters":[{"name":"cashierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/cashiers/{cashierId}":{"put":{"tags":["cashier-operations-controller"],"operationId":"updateCashier_1","parameters":[{"name":"cashierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCashierProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashierProfileView"}}}}}},"delete":{"tags":["cashier-operations-controller"],"operationId":"deleteCashier_1","parameters":[{"name":"cashierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/general-options/api/settings/global":{"get":{"tags":["general-options-controller"],"operationId":"getGlobalOptions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}},"put":{"tags":["general-options-controller"],"operationId":"updateGlobalOptions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAppBusinessSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}}},"/api/generalOptions/api/settings/global":{"get":{"tags":["general-options-controller"],"operationId":"getGlobalOptions_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}},"put":{"tags":["general-options-controller"],"operationId":"updateGlobalOptions_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAppBusinessSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}}},"/api/settings/global":{"get":{"tags":["general-options-controller"],"operationId":"getGlobalOptions_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}},"put":{"tags":["general-options-controller"],"operationId":"updateGlobalOptions_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAppBusinessSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}}},"/api/general-options/api/settings/agency/{agencyId}":{"get":{"tags":["general-options-controller"],"operationId":"getAgencyOptions","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}},"put":{"tags":["general-options-controller"],"operationId":"updateAgencyOptions","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAppBusinessSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}}},"/api/generalOptions/api/settings/agency/{agencyId}":{"get":{"tags":["general-options-controller"],"operationId":"getAgencyOptions_1","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}},"put":{"tags":["general-options-controller"],"operationId":"updateAgencyOptions_1","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAppBusinessSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}}},"/api/settings/agency/{agencyId}":{"get":{"tags":["general-options-controller"],"operationId":"getAgencyOptions_2","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}},"put":{"tags":["general-options-controller"],"operationId":"updateAgencyOptions_2","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAppBusinessSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}}},"/api/general-options":{"get":{"tags":["general-options-controller"],"operationId":"getOptions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}},"put":{"tags":["general-options-controller"],"operationId":"updateOptions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAppBusinessSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}}},"/api/generalOptions":{"get":{"tags":["general-options-controller"],"operationId":"getOptions_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}},"put":{"tags":["general-options-controller"],"operationId":"updateOptions_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAppBusinessSettingsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAppBusinessSettingsResponse"}}}}}}},"/api/accounting-service/taxes/{taxId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getTax","parameters":[{"name":"taxId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TaxDefinitionView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateTax","parameters":[{"name":"taxId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTaxDefinitionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TaxDefinitionView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteTax","parameters":[{"name":"taxId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/taxes/{taxId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getTax_1","parameters":[{"name":"taxId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TaxDefinitionView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateTax_1","parameters":[{"name":"taxId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTaxDefinitionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TaxDefinitionView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteTax_1","parameters":[{"name":"taxId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/settings":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"listSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountingSettingView"}}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateSetting","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSettingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingSettingView"}}}}}},"post":{"tags":["accounting-bookkeeping-controller"],"operationId":"upsertSetting","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSettingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingSettingView"}}}}}}},"/api/accounting/settings":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"listSettings_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountingSettingView"}}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateSetting_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertSettingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingSettingView"}}}}}}},"/api/accounting-service/plan-comptable/{planAccountId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getPlanAccount","parameters":[{"name":"planAccountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanAccountView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updatePlanAccount","parameters":[{"name":"planAccountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePlanAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanAccountView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deletePlanAccount","parameters":[{"name":"planAccountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/plan-comptable/{planAccountId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getPlanAccount_1","parameters":[{"name":"planAccountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanAccountView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updatePlanAccount_1","parameters":[{"name":"planAccountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePlanAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanAccountView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deletePlanAccount_1","parameters":[{"name":"planAccountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/periodes/{periodId}/close":{"put":{"tags":["accounting-legacy-operations-controller"],"operationId":"closePeriode","parameters":[{"name":"periodId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodView"}}}}}}},"/api/accounting/periodes/{periodId}/close":{"put":{"tags":["accounting-legacy-operations-controller"],"operationId":"closePeriode_1","parameters":[{"name":"periodId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodView"}}}}}}},"/api/accounting-service/periodes/{periodId}":{"get":{"tags":["accounting-legacy-operations-controller"],"operationId":"getPeriode","parameters":[{"name":"periodId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodView"}}}}}},"put":{"tags":["accounting-legacy-operations-controller"],"operationId":"updatePeriode","parameters":[{"name":"periodId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePeriodRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodView"}}}}}},"delete":{"tags":["accounting-legacy-operations-controller"],"operationId":"deletePeriode","parameters":[{"name":"periodId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/periodes/{periodId}":{"get":{"tags":["accounting-legacy-operations-controller"],"operationId":"getPeriode_1","parameters":[{"name":"periodId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodView"}}}}}},"put":{"tags":["accounting-legacy-operations-controller"],"operationId":"updatePeriode_1","parameters":[{"name":"periodId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePeriodRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodView"}}}}}},"delete":{"tags":["accounting-legacy-operations-controller"],"operationId":"deletePeriode_1","parameters":[{"name":"periodId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/operations/{operationId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getOperation","parameters":[{"name":"operationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingOperationView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateOperation","parameters":[{"name":"operationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOperationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingOperationView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteOperation","parameters":[{"name":"operationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/operations/{operationId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getOperation_1","parameters":[{"name":"operationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingOperationView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateOperation_1","parameters":[{"name":"operationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOperationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingOperationView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteOperation_1","parameters":[{"name":"operationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/journals/{journalId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getJournal","parameters":[{"name":"journalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JournalView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateJournal","parameters":[{"name":"journalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateJournalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JournalView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteJournal","parameters":[{"name":"journalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/journals/{journalId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getJournal_1","parameters":[{"name":"journalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JournalView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateJournal_1","parameters":[{"name":"journalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateJournalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JournalView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteJournal_1","parameters":[{"name":"journalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/exercices/{fiscalYearId}":{"get":{"tags":["accounting-legacy-operations-controller"],"operationId":"getExercice","parameters":[{"name":"fiscalYearId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearView"}}}}}},"put":{"tags":["accounting-legacy-operations-controller"],"operationId":"updateExercice","parameters":[{"name":"fiscalYearId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFiscalYearRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearView"}}}}}},"delete":{"tags":["accounting-legacy-operations-controller"],"operationId":"deleteExercice","parameters":[{"name":"fiscalYearId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/exercices/{fiscalYearId}":{"get":{"tags":["accounting-legacy-operations-controller"],"operationId":"getExercice_1","parameters":[{"name":"fiscalYearId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearView"}}}}}},"put":{"tags":["accounting-legacy-operations-controller"],"operationId":"updateExercice_1","parameters":[{"name":"fiscalYearId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFiscalYearRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearView"}}}}}},"delete":{"tags":["accounting-legacy-operations-controller"],"operationId":"deleteExercice_1","parameters":[{"name":"fiscalYearId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/ecritures/{entryId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getEcriture","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingEntryView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateEcriture","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEntryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingEntryView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteEcriture","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/ecritures/{entryId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getEcriture_1","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingEntryView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateEcriture_1","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEntryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingEntryView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteEcriture_1","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/currencies/{currencyId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getCurrency","parameters":[{"name":"currencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateCurrency","parameters":[{"name":"currencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCurrencyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteCurrency","parameters":[{"name":"currencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/currencies/{currencyId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getCurrency_1","parameters":[{"name":"currencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateCurrency_1","parameters":[{"name":"currencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCurrencyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteCurrency_1","parameters":[{"name":"currencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/comptes/{accountId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getCompte","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateCompte","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteCompte","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/comptes/{accountId}":{"get":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"getCompte_1","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountView"}}}}}},"put":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"updateCompte_1","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountView"}}}}}},"delete":{"tags":["accounting-legacy-bookkeeping-controller"],"operationId":"deleteCompte_1","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/payroll/tax-brackets/{id}/activate":{"put":{"tags":["tax-bracket-admin-controller"],"operationId":"activate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTaxBracketTableResponse"}}}}}}},"/api/v1/payroll/runs/{payrollRunId}/validate":{"put":{"tags":["payroll-run-controller"],"operationId":"validate","parameters":[{"name":"payrollRunId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePayrollRunResponse"}}}}}}},"/api/v1/payroll/runs/{payrollRunId}/reject":{"put":{"tags":["payroll-run-controller"],"operationId":"reject","parameters":[{"name":"payrollRunId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectRunRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePayrollRunResponse"}}}}}}},"/api/v1/payroll/runs/{payrollRunId}/initiate-payment":{"put":{"tags":["payroll-run-controller"],"operationId":"initiatePayment","parameters":[{"name":"payrollRunId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePayrollRunResponse"}}}}}}},"/api/v1/payroll/runs/{payrollRunId}/close":{"put":{"tags":["payroll-run-controller"],"operationId":"close","parameters":[{"name":"payrollRunId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePayrollRunResponse"}}}}}}},"/api/v1/payroll/runs/{payrollRunId}/approve":{"put":{"tags":["payroll-run-controller"],"operationId":"approve","parameters":[{"name":"payrollRunId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePayrollRunResponse"}}}}}}},"/api/v1/payroll/retroactive/{id}/apply":{"put":{"tags":["retroactive-controller"],"operationId":"apply","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRetroactiveResponse"}}}}}}},"/api/v1/payroll/pay-elements/{id}/activate":{"put":{"tags":["pay-element-admin-controller"],"operationId":"activate_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePayElementResponse"}}}}}}},"/api/v1/payroll/lookup-tables/{id}/activate":{"put":{"tags":["lookup-table-admin-controller"],"operationId":"activate_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLookupTableResponse"}}}}}}},"/api/v1/payroll/garnishments/{id}/suspend":{"put":{"tags":["garnishment-controller"],"operationId":"suspend","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseGarnishmentResponse"}}}}}}},"/api/v1/payroll/garnishments/{id}/resume":{"put":{"tags":["garnishment-controller"],"operationId":"resume","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseGarnishmentResponse"}}}}}}},"/api/v1/payroll/final-settlements/{id}/pay":{"put":{"tags":["final-settlement-controller"],"operationId":"pay","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFinalSettlementResponse"}}}}}}},"/api/v1/payroll/employees/{payrollEmployeeId}":{"get":{"tags":["payroll-employee-controller"],"operationId":"get_7","parameters":[{"name":"payrollEmployeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePayrollEmployeeResponse"}}}}}},"put":{"tags":["payroll-employee-controller"],"operationId":"update_7","parameters":[{"name":"payrollEmployeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertPayrollEmployeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePayrollEmployeeResponse"}}}}}}},"/api/v1/payroll/employees/{payrollEmployeeId}/deactivate":{"put":{"tags":["payroll-employee-controller"],"operationId":"deactivate","parameters":[{"name":"payrollEmployeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeactivateRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePayrollEmployeeResponse"}}}}}}},"/api/v1/payroll/employees/data-source":{"get":{"tags":["payroll-employee-controller"],"operationId":"getDataSource","parameters":[{"name":"organizationId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDataSourceResponse"}}}}}},"put":{"tags":["payroll-employee-controller"],"operationId":"setDataSource","parameters":[{"name":"organizationId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataSourceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDataSourceResponse"}}}}}}},"/api/v1/hrm/trainings/{trainingId}/start":{"put":{"tags":["training-controller"],"operationId":"startTraining","parameters":[{"name":"trainingId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTrainingResponse"}}}}}}},"/api/v1/hrm/trainings/{trainingId}/complete":{"put":{"tags":["training-controller"],"operationId":"completeTraining","parameters":[{"name":"trainingId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTrainingResponse"}}}}}}},"/api/v1/hrm/trainings/{trainingId}/cancel":{"put":{"tags":["training-controller"],"operationId":"cancelTraining","parameters":[{"name":"trainingId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTrainingResponse"}}}}}}},"/api/v1/hrm/trainings/requests/{requestId}/reject":{"put":{"tags":["training-controller"],"operationId":"rejectTrainingRequest","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectTrainingRequestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTrainingRequestResponse"}}}}}}},"/api/v1/hrm/trainings/requests/{requestId}/cancel":{"put":{"tags":["training-controller"],"operationId":"cancelTrainingRequest","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTrainingRequestResponse"}}}}}}},"/api/v1/hrm/trainings/requests/{requestId}/approve":{"put":{"tags":["training-controller"],"operationId":"approveTrainingRequest","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTrainingRequestResponse"}}}}}}},"/api/v1/hrm/trainings/enrollments/{enrollmentId}/complete":{"put":{"tags":["training-controller"],"operationId":"completeEnrollment","parameters":[{"name":"enrollmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteEnrollmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEnrollmentResponse"}}}}}}},"/api/v1/hrm/trainings/enrollments/{enrollmentId}/cancel":{"put":{"tags":["training-controller"],"operationId":"cancelEnrollment","parameters":[{"name":"enrollmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEnrollmentResponse"}}}}}}},"/api/v1/hrm/training-budgets/{id}/realiser":{"put":{"tags":["training-budget-controller"],"operationId":"realiseBudget","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MontantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTrainingBudgetResponse"}}}}}}},"/api/v1/hrm/training-budgets/{id}/engage":{"put":{"tags":["training-budget-controller"],"operationId":"engageBudget","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MontantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTrainingBudgetResponse"}}}}}}},"/api/v1/hrm/timesheets/{timesheetId}/validate":{"put":{"tags":["timesheet-controller"],"operationId":"validateTimesheet","parameters":[{"name":"timesheetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTimesheetResponse"}}}}}}},"/api/v1/hrm/timesheets/{timesheetId}/submit":{"put":{"tags":["timesheet-controller"],"operationId":"submitTimesheet","parameters":[{"name":"timesheetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTimesheetResponse"}}}}}}},"/api/v1/hrm/timesheets/{timesheetId}/reject":{"put":{"tags":["timesheet-controller"],"operationId":"rejectTimesheet","parameters":[{"name":"timesheetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectTimesheetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTimesheetResponse"}}}}}}},"/api/v1/hrm/reviews/{reviewId}/submit":{"put":{"tags":["review-controller"],"operationId":"submitReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewResponse"}}}}}}},"/api/v1/hrm/reviews/{reviewId}/finalize":{"put":{"tags":["review-controller"],"operationId":"finalizeReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewResponse"}}}}}}},"/api/v1/hrm/reviews/{reviewId}/acknowledge":{"put":{"tags":["review-controller"],"operationId":"acknowledgeReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewResponse"}}}}}}},"/api/v1/hrm/reviews/objectives/{objectiveId}/evaluate":{"put":{"tags":["review-controller"],"operationId":"evaluateObjective","parameters":[{"name":"objectiveId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluateObjectiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObjectiveResponse"}}}}}}},"/api/v1/hrm/reviews/me/{reviewId}/acknowledge":{"put":{"tags":["review-self-service-controller"],"operationId":"acknowledgeMyReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewResponse"}}}}}}},"/api/v1/hrm/onboarding-tasks/{id}/start":{"put":{"tags":["recruitment-controller"],"operationId":"startOnboardingTask","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOnboardingTaskResponse"}}}}}}},"/api/v1/hrm/onboarding-tasks/{id}/complete":{"put":{"tags":["recruitment-controller"],"operationId":"completeOnboardingTask","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOnboardingTaskResponse"}}}}}}},"/api/v1/hrm/mission-orders/{id}/start":{"put":{"tags":["mission-order-controller"],"operationId":"startMissionOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionOrderResponse"}}}}}}},"/api/v1/hrm/mission-orders/{id}/issue":{"put":{"tags":["mission-order-controller"],"operationId":"issueMissionOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionOrderResponse"}}}}}}},"/api/v1/hrm/mission-orders/{id}/decline":{"put":{"tags":["mission-order-controller"],"operationId":"declineMissionOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeclineMissionOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionOrderResponse"}}}}}}},"/api/v1/hrm/mission-orders/{id}/complete":{"put":{"tags":["mission-order-controller"],"operationId":"completeMissionOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionOrderResponse"}}}}}}},"/api/v1/hrm/mission-orders/{id}/cancel":{"put":{"tags":["mission-order-controller"],"operationId":"cancelMissionOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionOrderResponse"}}}}}}},"/api/v1/hrm/mission-orders/{id}/accept":{"put":{"tags":["mission-order-controller"],"operationId":"acceptMissionOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMissionOrderResponse"}}}}}}},"/api/v1/hrm/loan-advances/{loanAdvanceId}/reject":{"put":{"tags":["loan-advance-controller"],"operationId":"rejectLoanAdvance","parameters":[{"name":"loanAdvanceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectLoanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanAdvanceResponse"}}}}}}},"/api/v1/hrm/loan-advances/{loanAdvanceId}/approve":{"put":{"tags":["loan-advance-controller"],"operationId":"approveLoanAdvance","parameters":[{"name":"loanAdvanceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanAdvanceResponse"}}}}}}},"/api/v1/hrm/leaves/{leaveRequestId}/reject":{"put":{"tags":["leave-controller"],"operationId":"rejectLeave","parameters":[{"name":"leaveRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectLeaveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLeaveResponse"}}}}}}},"/api/v1/hrm/leaves/{leaveRequestId}/cancel":{"put":{"tags":["leave-controller"],"operationId":"cancelLeave","parameters":[{"name":"leaveRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLeaveResponse"}}}}}}},"/api/v1/hrm/leaves/{leaveRequestId}/approve":{"put":{"tags":["leave-controller"],"operationId":"approveLeave","parameters":[{"name":"leaveRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLeaveResponse"}}}}}}},"/api/v1/hrm/job-offers/{id}/publish":{"put":{"tags":["recruitment-controller"],"operationId":"publishJobOffer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseJobOfferResponse"}}}}}}},"/api/v1/hrm/job-offers/{id}/close":{"put":{"tags":["recruitment-controller"],"operationId":"closeJobOffer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseJobOfferResponse"}}}}}}},"/api/v1/hrm/interviews/{id}/complete":{"put":{"tags":["recruitment-controller"],"operationId":"completeInterview","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteInterviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInterviewResponse"}}}}}}},"/api/v1/hrm/expenses/{id}/submit":{"put":{"tags":["expense-controller"],"operationId":"submitExpenseReport","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseExpenseReportResponse"}}}}}}},"/api/v1/hrm/expenses/{id}/reject":{"put":{"tags":["expense-controller"],"operationId":"rejectExpenseReport","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseExpenseReportResponse"}}}}}}},"/api/v1/hrm/expenses/{id}/reimburse":{"put":{"tags":["expense-controller"],"operationId":"reimburseExpenseReport","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseExpenseReportResponse"}}}}}}},"/api/v1/hrm/expenses/{id}/approve":{"put":{"tags":["expense-controller"],"operationId":"approveExpenseReport","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseExpenseReportResponse"}}}}}}},"/api/v1/hrm/employees/{employeeId}":{"get":{"tags":["employee-controller"],"operationId":"getEmployee","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponse"}}}}}},"put":{"tags":["employee-controller"],"operationId":"updateEmployee","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEmployeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponse"}}}}}}},"/api/v1/hrm/employees/{employeeId}/terminate":{"put":{"tags":["employee-controller"],"operationId":"terminateEmployee","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TerminateEmployeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponse"}}}}}}},"/api/v1/hrm/employees/{employeeId}/suspend":{"put":{"tags":["employee-controller"],"operationId":"suspendEmployee","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuspendRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponse"}}}}}}},"/api/v1/hrm/employees/{employeeId}/reactivate":{"put":{"tags":["employee-controller"],"operationId":"reactivateEmployee","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponse"}}}}}}},"/api/v1/hrm/employees/{employeeId}/photo":{"put":{"tags":["employee-controller"],"operationId":"setEmployeePhoto","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetEmployeePhotoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponse"}}}}}}},"/api/v1/hrm/employees/{employeeId}/personal-info":{"get":{"tags":["employee-controller"],"operationId":"getPersonalInfo","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePersonalInfoResponse"}}}}}},"put":{"tags":["employee-controller"],"operationId":"upsertPersonalInfo","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertPersonalInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePersonalInfoResponse"}}}}}}},"/api/v1/hrm/employees/{employeeId}/contracts/{contractId}/terminate":{"put":{"tags":["employee-controller"],"operationId":"terminateContract","parameters":[{"name":"employeeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"contractId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TerminateContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseContractResponse"}}}}}}},"/api/v1/hrm/employees/me/photo":{"put":{"tags":["employee-controller"],"operationId":"setOwnEmployeePhoto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetEmployeePhotoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponse"}}}}}}},"/api/v1/hrm/employees/me/personal-info":{"put":{"tags":["employee-self-service-controller"],"operationId":"upsertMyPersonalInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertPersonalInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePersonalInfoResponse"}}}}}}},"/api/v1/hrm/declarations/{id}/submit":{"put":{"tags":["social-declaration-controller"],"operationId":"submit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSocialDeclarationResponse"}}}}}}},"/api/v1/hrm/declarations/{id}/generate":{"put":{"tags":["social-declaration-controller"],"operationId":"generate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSocialDeclarationResponse"}}}}}}},"/api/v1/hrm/declarations/{id}/acknowledge":{"put":{"tags":["social-declaration-controller"],"operationId":"acknowledge","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSocialDeclarationResponse"}}}}}}},"/api/v1/hrm/applications/{id}/shortlist":{"put":{"tags":["recruitment-controller"],"operationId":"shortlistApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseApplicationResponse"}}}}}}},"/api/v1/hrm/applications/{id}/reject":{"put":{"tags":["recruitment-controller"],"operationId":"rejectApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseApplicationResponse"}}}}}}},"/api/v1/hrm/applications/{id}/offer":{"put":{"tags":["recruitment-controller"],"operationId":"offerApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseApplicationResponse"}}}}}}},"/api/v1/hrm/applications/{id}/interview":{"put":{"tags":["recruitment-controller"],"operationId":"interviewApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseApplicationResponse"}}}}}}},"/api/v1/hrm/applications/{id}/hire":{"put":{"tags":["recruitment-controller"],"operationId":"hireApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseApplicationResponse"}}}}}}},"/api/users/me/plan":{"put":{"tags":["user-controller"],"operationId":"updateMyPlan","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePlanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserAccountResponse"}}}}}}},"/api/users/me/onboarding":{"put":{"tags":["user-controller"],"operationId":"updateOnboarding","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOnboardingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserAccountResponse"}}}}}}},"/api/users/me/identity-onboarding":{"put":{"tags":["user-controller"],"operationId":"updateIdentityOnboarding","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateIdentityOnboardingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserAccountResponse"}}}}}}},"/api/users/me/avatar":{"put":{"tags":["user-controller"],"operationId":"updateMyAvatar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAvatarRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserAccountResponse"}}}}}}},"/api/users/admins/{adminId}":{"put":{"tags":["cashier-operations-controller"],"operationId":"updateAdmin","parameters":[{"name":"adminId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCashierProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashierProfileView"}}}}}},"delete":{"tags":["cashier-operations-controller"],"operationId":"deleteAdmin","parameters":[{"name":"adminId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/treasury/transaction-types/{id}":{"get":{"tags":["transaction-type-controller"],"operationId":"getTransactionType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransactionTypeResponse"}}}}}},"put":{"tags":["transaction-type-controller"],"operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTransactionTypeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransactionTypeResponse"}}}}}}},"/api/transaction-types/{id}":{"get":{"tags":["legacy-banking-catalog-controller"],"operationId":"getTransactionType_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionTypeView"}}}}}},"put":{"tags":["legacy-banking-catalog-controller"],"operationId":"updateTransactionType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTransactionTypeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionTypeView"}}}}}},"delete":{"tags":["legacy-banking-catalog-controller"],"operationId":"deleteTransactionType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/spare/warehouses/{agencyId}/product-locations/{productId}":{"put":{"tags":["warehouse-location-controller"],"operationId":"upsertLocation","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertProductLocationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductLocationResponse"}}}}}}},"/api/spare/warehouses/{agencyId}/layout":{"get":{"tags":["warehouse-layout-controller"],"operationId":"getLayout","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWarehouseLayoutResponse"}}}}}},"put":{"tags":["warehouse-layout-controller"],"operationId":"putLayout","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarehouseLayoutRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWarehouseLayoutResponse"}}}}}}},"/api/settings/organizations/{organizationId}/operational-policy":{"get":{"tags":["operational-policy-controller"],"operationId":"organizationPolicy","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOperationalPolicyResponse"}}}}}},"put":{"tags":["operational-policy-controller"],"operationId":"upsertOrganizationPolicy","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertOperationalPolicyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOperationalPolicyResponse"}}}}}}},"/api/settings/organizations/{organizationId}/agencies/{agencyId}/operational-policy":{"get":{"tags":["operational-policy-controller"],"operationId":"agencyPolicy","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOperationalPolicyResponse"}}}}}},"put":{"tags":["operational-policy-controller"],"operationId":"upsertAgencyPolicy","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertOperationalPolicyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOperationalPolicyResponse"}}}}}}},"/api/resources/{resourceId}/asset-profile":{"get":{"tags":["advanced-asset-management-controller"],"operationId":"getProfile","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAssetProfileResponse"}}}}}},"put":{"tags":["advanced-asset-management-controller"],"operationId":"upsertProfile","parameters":[{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAssetProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAssetProfileResponse"}}}}}}},"/api/products/{productId}/spec":{"get":{"tags":["product-structure-controller"],"operationId":"getProductSpec","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductSpecResponse"}}}}}},"put":{"tags":["product-structure-controller"],"operationId":"upsertProductSpec","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertProductSpecRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductSpecResponse"}}}}}}},"/api/plans/{code}":{"get":{"tags":["plan-controller"],"operationId":"getPlan","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlanResponse"}}}}}},"put":{"tags":["plan-controller"],"operationId":"savePlan","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavePlanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlanResponse"}}}}}},"delete":{"tags":["plan-controller"],"operationId":"deletePlan","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/paiement/{id}":{"get":{"tags":["billing-legacy-payments-controller"],"operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentView"}}}}}},"put":{"tags":["billing-legacy-payments-controller"],"operationId":"update_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentView"}}}}}},"delete":{"tags":["billing-legacy-payments-controller"],"operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/organizations/{organizationId}/agencies/{agencyId}/operational-site-profile":{"get":{"tags":["operational-site-governance-controller"],"operationId":"getSiteProfile","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOperationalSiteProfileResponse"}}}}}},"put":{"tags":["operational-site-governance-controller"],"operationId":"upsertSiteProfile","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertOperationalSiteProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOperationalSiteProfileResponse"}}}}}}},"/api/employees/{membershipId}":{"put":{"tags":["employee-controller"],"operationId":"updateEmployee_1","parameters":[{"name":"membershipId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEmployeeMembershipRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeMembershipResponse"}}}}}},"delete":{"tags":["employee-controller"],"operationId":"removeEmployee","parameters":[{"name":"membershipId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/document-governance/organizations/{organizationId}/policies/{targetType}/{documentCategory}":{"put":{"tags":["document-governance-controller"],"operationId":"upsertOrganizationPolicy_1","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"targetType","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentCategory","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertPolicyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePolicyResponse"}}}}}}},"/api/document-governance/organizations/{organizationId}/agencies/{agencyId}/policies/{targetType}/{documentCategory}":{"put":{"tags":["document-governance-controller"],"operationId":"upsertAgencyPolicy_1","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"targetType","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentCategory","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertPolicyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePolicyResponse"}}}}}}},"/api/cashiers/self-profile":{"get":{"tags":["cashier-operations-controller"],"operationId":"selfProfile","parameters":[{"name":"principalEmail","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashierProfileView"}}}}}},"put":{"tags":["cashier-operations-controller"],"operationId":"updateSelfProfile","parameters":[{"name":"principalEmail","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMyProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashierProfileView"}}}}}}},"/api/cash-registers/{registerId}":{"get":{"tags":["cashier-operations-controller"],"operationId":"cashRegister","parameters":[{"name":"registerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashRegisterView"}}}}}},"put":{"tags":["cashier-operations-controller"],"operationId":"updateCashRegister","parameters":[{"name":"registerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCashRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashRegisterView"}}}}}},"delete":{"tags":["cashier-operations-controller"],"operationId":"deleteCashRegister","parameters":[{"name":"registerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/banks/{id}":{"get":{"tags":["legacy-banking-catalog-controller"],"operationId":"getBank","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankView"}}}}}},"put":{"tags":["legacy-banking-catalog-controller"],"operationId":"updateBank","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBankRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankView"}}}}}},"delete":{"tags":["legacy-banking-catalog-controller"],"operationId":"deleteBank","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/agencies/{agencyId}/schedule/regular":{"put":{"tags":["agency-schedule-controller"],"operationId":"replaceRegularSchedule","parameters":[{"name":"agencyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"organizationId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegularOpeningHoursRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListOpeningHoursResponse"}}}}}}},"/api/administration/settings/platform-options":{"get":{"tags":["administration-controller"],"operationId":"getPlatformOptions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdministrativePlatformOptionsResponse"}}}}}},"put":{"tags":["administration-controller"],"operationId":"updatePlatformOptions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAdministrativePlatformOptionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdministrativePlatformOptionsResponse"}}}}}}},"/api/administration/settings/general-options":{"get":{"tags":["administration-controller"],"operationId":"getGeneralOptions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdministrationGeneralOptionsResponse"}}}}}},"put":{"tags":["administration-controller"],"operationId":"updateGeneralOptions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAdministrativeGeneralOptionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdministrationGeneralOptionsResponse"}}}}}}},"/api/administration/roles/{roleId}/permissions":{"put":{"tags":["administration-controller"],"operationId":"replaceRolePermissions","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplaceRolePermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdministrationRoleResponse"}}}}}}},"/api/actors/{actorId}":{"put":{"tags":["actor-controller"],"operationId":"updateActor","parameters":[{"name":"actorId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateActorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseActorResponse"}}}}}}},"/api/actors/me":{"get":{"tags":["actor-controller"],"operationId":"getMyBusinessActorProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBusinessActorResponse"}}}}}},"put":{"tags":["actor-controller"],"operationId":"updateMyBusinessActorProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessActorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBusinessActorResponse"}}}}}}},"/api/accounting/taxes/{id}":{"get":{"tags":["tax-controller"],"operationId":"getTax_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Tax"}}}}}},"put":{"tags":["tax-controller"],"operationId":"updateTax_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tax"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Tax"}}}}}},"delete":{"tags":["tax-controller"],"operationId":"deleteTax_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/fixed-assets/{id}":{"get":{"tags":["fixed-asset-controller"],"operationId":"findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FixedAsset"}}}}}},"put":{"tags":["fixed-asset-controller"],"operationId":"update_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FixedAsset"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FixedAsset"}}}}}},"delete":{"tags":["fixed-asset-controller"],"operationId":"delete_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/currencies/{id}":{"get":{"tags":["currency-controller"],"operationId":"getCurrency_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Currency"}}}}}},"put":{"tags":["currency-controller"],"operationId":"updateCurrency_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Currency"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Currency"}}}}}},"delete":{"tags":["currency-controller"],"operationId":"deleteCurrency_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting/budgets/{id}":{"get":{"tags":["budget-controller"],"operationId":"findById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Budget"}}}}}},"put":{"tags":["budget-controller"],"operationId":"update_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Budget"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Budget"}}}}}},"delete":{"tags":["budget-controller"],"operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/entries/{entryId}":{"get":{"tags":["accounting-bookkeeping-controller"],"operationId":"getEntry","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingEntryView"}}}}}},"put":{"tags":["accounting-bookkeeping-controller"],"operationId":"updateEntry","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEntryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingEntryView"}}}}}},"delete":{"tags":["accounting-bookkeeping-controller"],"operationId":"deleteEntry","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/entries/{entryId}/deactivate":{"put":{"tags":["accounting-bookkeeping-controller"],"operationId":"deactivateEntry","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/accounting-service/entries/{entryId}/cancel":{"put":{"tags":["accounting-bookkeeping-controller"],"operationId":"cancelEntry","parameters":[{"name":"entryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingEntryView"}}}}}}},"/api/accounting-service/accounts/{accountId}":{"get":{"tags":["accounting-bookkeeping-controller"],"operationId":"getAccount","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountView"}}}}}},"put":{"tags":["accounting-bookkeeping-controller"],"operationId":"updateAccount","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountView"}}}}}},"delete":{"tags":["accounting-bookkeeping-controller"],"operationId":"deleteAccount","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/facturation/bon-receptions/{id}/sync/cashier-bill":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToCashier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/v1/facturation/note-credits/{id}/sync/cashier-bill":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToCashier_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/facture-fournisseurs/{id}/sync/cashier-bill":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToCashier_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/factures-proforma/{id}/sync/cashier-bill":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToCashier_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/bons-livraison/{id}/sync/cashier-bill":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToCashier_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/bon-commande/{id}/sync/cashier-bill":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToCashier_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/bons-achat/{id}/sync/cashier-bill":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToCashier_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/v1/facturation/bon-receptions/{id}/sync/accounting-invoice":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToAccounting","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncDocumentToAccountingRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/v1/facturation/note-credits/{id}/sync/accounting-invoice":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToAccounting_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncDocumentToAccountingRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/facture-fournisseurs/{id}/sync/accounting-invoice":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToAccounting_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncDocumentToAccountingRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/factures-proforma/{id}/sync/accounting-invoice":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToAccounting_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncDocumentToAccountingRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/bons-livraison/{id}/sync/accounting-invoice":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToAccounting_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncDocumentToAccountingRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/bon-commande/{id}/sync/accounting-invoice":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToAccounting_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncDocumentToAccountingRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/bons-achat/{id}/sync/accounting-invoice":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"syncToAccounting_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncDocumentToAccountingRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommercialDocumentView"}}}}}}},"/api/v1/facturation/bon-receptions/{id}/payments/cashier":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"payViaCashier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordCashierPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentView"}}}}}}},"/api/v1/facturation/note-credits/{id}/payments/cashier":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"payViaCashier_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordCashierPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentView"}}}}}}},"/api/facture-fournisseurs/{id}/payments/cashier":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"payViaCashier_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordCashierPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentView"}}}}}}},"/api/factures-proforma/{id}/payments/cashier":{"post":{"tags":["billing-legacy-documents-controller"],"operationId":"payViaCashier_3","parameters":[{"name":"id","in":"path","required":t
[...]
